@import url("https://fonts.googleapis.com/css2?family=Damion&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "allMixins";
@import "variables";

.container {
  margin: 0 auto !important;
  @media screen and (max-width: 576px), (min-width: 576px) {
    max-width: 100% !important;
    padding: 0 10px !important;
  }
  @media screen and (min-width: 768px) {
    padding: 0 20px !important;
  }
  @media screen and (min-width: 992px) {
    padding: 0 50px !important;
  }
  @media screen and (min-width: 1500px) {
    padding: 10px !important;
    max-width: 1300px !important;
  }
}

body {
  font-family: "Poppins" !important;
  font-style: normal;
}

a {
  font-size: 14px;
}

.light-grey {
  color: $ts-product-regular-price-color;
}

.red-transition {
  color: black;
  font-weight: 500;
  transition: 150ms ease;
}

input {
  outline: 0;
}

// -------------------------- NavBar And Header Section -----------------
header {
  .info-block {
    img {
      width: 14px;
    }
    span {
      font-size: 12px;
    }
    i {
      font-size: 8px;
    }
    .contact {
      @include fw-600;
    }
  }
  .header {
    padding: 12px 16px;
  }

  hr {
    width: 100%;
  }
  .fa-bars,
  .fa-cart-shopping,
  .fa-heart,
  .fa-user {
    font-size: 20px;
    outline: none;
  }
  .cart-no {
    @include setBadge(18px, 18px, -8px, -10px);
  }

  .offcanvas {
    width: 85% !important;
    .offcanvas-header {
      background-color: #ebeff0;
      h5 {
        font-size: 14px;
        @include fw-600;
        padding: 14px 18px !important;
      }
      select {
        background-color: transparent;
        @include fw-600;
        cursor: pointer;
        flex-basis: 33%;
      }
      .btn-close {
        border-left: 2px solid white;
        font-size: 12px;
      }
    }
    .search {
      border-radius: 5px;
      input,
      select {
        background-color: #ebeef0;
        font-size: 12px;
        padding: 14px 20px;
      }
      select {
        @include fw-600;
        cursor: pointer;
        flex-basis: 33%;
        appearance: none;
      }
      .fa-chevron-down {
        top: 40%;
        right: 15%;
        font-size: 10px;
        @include fw-600;
      }
      .v-bar {
        &::before {
          content: "";
          position: absolute;
          top: 25%;
          right: 0;
          width: 1px;
          height: 20px;
          background-color: rgba(165, 165, 165, 0.7);
        }
      }
      input {
        font-weight: 500;
        background-color: white;
        &::placeholder {
          font-size: 13px;
          color: #a5a5a5;
        }
        border: 1px solid black;
        border-radius: 5px;
      }
      button {
        width: 40px;
        height: 85%;
        top: 7.5%;
        right: 5px;
      }
      .fa-magnifying-glass {
        font-size: 16px;
        outline: none;
      }
    }
  }

  .offcanvas-start {
    .offcanvas-header {
      .fa-bars {
        font-size: 14px;
        @include fw-600;
      }
      button {
        padding: 14px 18px !important;
      }
    }

    .nav-item {
      padding-top: 0.3215rem;
      padding-bottom: 0.3215rem;
      .dropdown-menu {
        position: absolute !important;
        top: 12px !important;
        left: 0;
        border: none;
        border-radius: none;
        padding: 45px !important;
        li {
          margin: 10px 0;
          font-size: 14px;
          a {
            font-size: 14px;
            @include redHover;
          }
          .heading {
            @include fw-600;
            margin-top: 0;
          }
        }
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          span {
            &:hover {
              @include redHover;
            }
          }
        }
      }

      &:hover {
        .dropdown-menu {
          display: block !important;
          margin-top: 0 !important;
          transform: translate(0, 40px) !important;
        }
      }
      span {
        font-size: 14px;
        @include fw-600;
        color: black;
      }
      i {
        font-size: 14px;
      }
      .active {
        span {
          color: $red;
        }
      }
      .categories {
        @include fw-600;
      }
    }

    .product {
      .dropdown-menu {
        width: 320px !important;
        padding: 40px 25px !important;
        left: -50%;
        top: 9px !important;
        li {
          margin: 15px 0;
          a {
            font-size: 13px;
          }
        }
      }
    }

    .countries {
      span {
        font-weight: normal;
      }
    }
  }

  .categories {
    gap: 5px;
    a {
      font-size: 13px;
      border: 1px solid rgba(165, 165, 165, 0.3) !important;
      padding: 4px 20px;
      cursor: pointer;
    }
  }

  #navTwo {
    padding: 2px 0;
    ul {
      gap: 3px;
    }
    .discount {
      @include setBadge(40px, "fit-content", 0, 100%);
      left: 0;
      border-radius: 4px;
      font-size: 12px;
      @include fw-600;
    }
    .viewed-product {
      button[data-bs-toggle="tooltip"] {
        width: 40px !important;
        opacity: 0;
        &:hover {
          background-color: black;
          color: white !important;
        }
      }
      &:hover {
        button[data-bs-toggle="tooltip"] {
          transition: 0.3s all calc(0.1s + 0.1s * var(--i));
          opacity: 1;
        }
      }
    }
  }
  .fa-cart-shopping,
  .fa-heart,
  .fa-user {
    font-size: 19px;
    @include redHover;
  }
  .offcanvas {
    .search {
      input {
        background-color: #ebeef0;
        border: none;
      }
    }
  }
  .offcanvas-start {
    .nav-item {
      span {
        font-size: 13px;
        font-weight: 500;
        i {
          font-size: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    #navTwo {
      padding: 0;
    }
    .navbar-brand {
      width: 86px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .offcanvas {
      .search {
        input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    #navOne {
      padding-top: 20px;
      padding-bottom: 20px;
      .navbar-brand {
        width: 100px !important;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .offcanvas {
      .search {
        select,
        input {
          font-size: 13px;
        }
        select {
          font-weight: 500;
        }
        .fa-chevron-down {
          top: 37%;
          right: 10%;
        }
        input {
          flex-basis: 62%;
        }
      }
      .recent {
        color: black !important;
      }
    }
    #navTwo {
      ul {
        gap: 15px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .fa-cart,
    .fa-user,
    .fa-heart {
      font-size: 22px;
    }
    #navOne {
      padding-top: 25px;
      padding-bottom: 25px;
      .nav-contact {
        i {
          font-size: 30px;
        }
        span {
          font-size: 13px;
          &:last-child {
            @include fw-600;
          }
        }
      }
      .navbar-brand {
        width: 120px !important;
      }
      .account {
        font-size: 12px;
        @include fw-600;
      }
    }
    .info-block {
      span {
        font-size: 13px;
      }
      img {
        width: 18px;
      }
    }
    .offcanvas {
      .search {
        .v-bar {
          flex-basis: 25%;
        }
        input {
          flex-basis: 40%;
        }
      }
      .shop {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .dropdown {
        &:hover .dropdown-menu {
          display: inline-block;
          top: 61px;
          left: -40px !important;
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    #navTwo ul {
      gap: 25px;
    }
    .offcanvas-start {
      .nav-item {
        .nav-cate {
          padding: 45px 300px !important;
        }
      }
    }
  }
  @media screen and (min-width: 1500px) {
    .container {
      padding: 0px 100px !important;
      max-width: 100% !important;
      margin: 0 !important;
    }
  }
}

.sideBar {
  z-index: 999;
  .offcanvas {
    width: 269px !important;
    .offcanvas-header {
      padding: 5px 20px;
      i,
      h5 {
        padding: 13px 5px;
      }
      h5 {
        font-size: 14px;
      }
    }
    .offcanvas-body {
      li {
        border-bottom: 1px solid rgba(165, 165, 165, 0.3);
        &:hover {
          .text {
            border-bottom: 1px solid black;
          }
          .dropend {
            visibility: visible;
            opacity: 1;
          }
        }
        span {
          &:first-child {
            width: 20px;
          }
          font-weight: 500;
        }
        i {
          font-size: 10px;
        }
      }
      .dropend {
        width: 460px;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        left: 330px;
        padding: 30px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
        li {
          border: 0;
          a {
            font-size: 13px;
            @include redHover;
          }
          .heading {
            @include fw-600;
          }
        }
        > div {
          height: fit-content;
          > div {
            width: 46%;
          }
          img {
            transition: 0.5s ease;
          }
          p,
          a {
            font-size: 13px;
          }
          h5 {
            font-size: 24px;
          }
          h5,
          a {
            font-size: 600;
          }
          &:hover {
            img {
              scale: (1.1);
            }
          }
          a {
            @include fw-600;
            &:hover {
              background-color: white !important;
              color: black !important;         
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1119px) {
    .offcanvas {
      .offcanvas-body {
        .dropend {
          left: 280px;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .offcanvas {
      width: 319px !important;
      .offcanvas-body {
        li {
          .text {
            font-size: 13px;
          }
        }
      }
    }
  }
}

//---------------------------- Banner Section --------------------------
.carousel {
  [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid white !important;
    &:not(.active) {
      background-color: transparent !important;
    }
  }
  .carousel-item {
    h5 {
      transition: 0.5s ease;
    }
  }
}

// ------------- Product Slider Section ----------------------
.product-slider {
  scroll-behavior: smooth;
  div {
    &:hover .red-transition {
      @include hoverRedTransition();
    }
    div {
      &:first-child {
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.5s;
        }
        // &:hover::before {
        //   opacity: 1;
        // }
      }
      &:last-child {
        top: 40%;
        left: 45%;
        opacity: 0;
        transform: translateX(-20px);
        transition: 0.5s;
        z-index: 99;
      }
    }
    &:hover div:first-child::before {
      opacity: 1;
    }
    &:hover div:last-child {
      opacity: 1;
      transform: translateX(5px);
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      flex-basis: 20%;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 8);
    }
  }
}

//  --------------------------- Ad Banner Section -------------------

.ad-banner {
  > div {
    @media screen and (max-width: 597px) {
      gap: 10px;
    }
  }
  .ad-card {
    cursor: pointer;
    > div {
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 99;
      p {
        font-size: 12px;
        color: #cf600f;
        @include fw-600;
      }
      a {
        font-size: 12px;
        @include fw-600;
        @include hoverBar {
          border-bottom: 1px solid black;
          width: 120%;
        }
      }
      .fa-arrow-right {
        font-size: 13px !important;
      }
    }
    img {
      transform: scale(1);
      transition: 0.3s ease;
    }
    h2 {
      font-size: 6.5vw;
      &:first-child {
        font-weight: 700;
        font-style: italic;
      }
      &:nth-child(2) {
        @include fw-600;
      }
    }
    #last-h2 {
      font-family: "Fahkwang" !important;
      @include fw-600;
      font-style: normal;
      top: 25px;
    }

    span {
      font-family: "Damion";
      color: #ffffff4d;
      letter-spacing: 1px;
      font-size: 16vw;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    @media screen and (min-width: 768px) {
      h2 {
        font-size: 20px;
      }
      span {
        font-size: 40px;
      }
    }

    @media screen and (min-width: 992px) {
      h2 {
        font-size: 2vw;
      }
      #last-h2 {
        font-size: 1.8vw;
      }
    }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 28px;
      }
      #last-h2 {
        font-size: 22px;
      }
    }
  }
}

// --------------------------------- Footer Section ------------------------

footer {
  background-color: $footer-black;

  h3 {
    font-size: 15px;
    font-weight: 600 !important;
  }
  h4 {
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
  }
  h6 {
    font-size: 14px;
    @include fw-600;
  }
  li a,
  p,
  span {
    font-size: 13px;
  }
  p {
    color: rgba(153, 153, 153, 1);
  }
  a,
  i {
    @include redHover;
  }
  a[href="tel:9239427879"] {
    font-size: 20px;
    @include fw-600;
  }

  .light-grey-border {
    border: 1px solid rgba(129, 131, 136, 0.3);
  }

  input {
    border-radius: 5px;
    border: 1px solid rgba(129, 131, 136, 0.3);
    outline: none;
    &::placeholder {
      font-size: 13px;
    }
    + button {
      top: 15%;
      right: 2%;
      @media screen and (min-width: 992px) {
        top: 5%;
        right: 1%;
      }
    }
  }
  .p-30 {
    padding: 30px;
    > div {
      @media screen and (min-width: 992px) {
        width: 250px;
      }
      @media screen and (min-width: 1200px) {
        width: 350px;
      }
    }
    a {
      margin-left: 45px;
      &:hover {
        color: white !important;
      }
    }
    i {
      font-size: 30px;
      &:hover {
        color: white !important;
      }
    }

    @media screen and (min-width: 992px) {
      gap: 35px;
    }
    @media screen and (min-width: 1200px) {
      gap: 0px;
    }
  }

  .hoverBar {
    @include hoverBar {
      border-bottom: 1px solid white;
    }
  }
  .contact {
    font-size: 18px;
    @include fw-600;
  }

  .payments {
    @media screen and (min-width: 1200px) {
      width: 312px;
    }
  }
}
