@import url("https://fonts.googleapis.com/css2?family=Damion&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  margin: 0 auto !important;
}
@media screen and (max-width: 576px), (min-width: 576px) {
  .container {
    max-width: 100% !important;
    padding: 0 10px !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px !important;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 0 50px !important;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    padding: 10px !important;
    max-width: 1300px !important;
  }
}

body {
  font-family: "Poppins" !important;
  font-style: normal;
}

a {
  font-size: 14px;
}

.light-grey {
  color: rgb(129, 131, 136);
}

.red-transition {
  color: black;
  font-weight: 500;
  transition: 150ms ease;
}

input {
  outline: 0;
}

header .info-block img {
  width: 14px;
}
header .info-block span {
  font-size: 12px;
}
header .info-block i {
  font-size: 8px;
}
header .info-block .contact {
  font-weight: 600;
}
header .header {
  padding: 12px 16px;
}
header hr {
  width: 100%;
}
header .fa-bars,
header .fa-cart-shopping,
header .fa-heart,
header .fa-user {
  font-size: 20px;
  outline: none;
}
header .cart-no {
  padding: 2px;
  top: -8px;
  right: -10px;
  width: 18px;
  height: 18px;
  background-color: rgb(222, 16, 16);
  font-size: 10px;
  font-weight: bold;
}
header .offcanvas {
  width: 85% !important;
}
header .offcanvas .offcanvas-header {
  background-color: #ebeff0;
}
header .offcanvas .offcanvas-header h5 {
  font-size: 14px;
  font-weight: 600;
  padding: 14px 18px !important;
}
header .offcanvas .offcanvas-header select {
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  flex-basis: 33%;
}
header .offcanvas .offcanvas-header .btn-close {
  border-left: 2px solid white;
  font-size: 12px;
}
header .offcanvas .search {
  border-radius: 5px;
}
header .offcanvas .search input,
header .offcanvas .search select {
  background-color: #ebeef0;
  font-size: 12px;
  padding: 14px 20px;
}
header .offcanvas .search select {
  font-weight: 600;
  cursor: pointer;
  flex-basis: 33%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
header .offcanvas .search .fa-chevron-down {
  top: 40%;
  right: 15%;
  font-size: 10px;
  font-weight: 600;
}
header .offcanvas .search .v-bar::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: rgba(165, 165, 165, 0.7);
}
header .offcanvas .search input {
  font-weight: 500;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
header .offcanvas .search input::-moz-placeholder {
  font-size: 13px;
  color: #a5a5a5;
}
header .offcanvas .search input::placeholder {
  font-size: 13px;
  color: #a5a5a5;
}
header .offcanvas .search button {
  width: 40px;
  height: 85%;
  top: 7.5%;
  right: 5px;
}
header .offcanvas .search .fa-magnifying-glass {
  font-size: 16px;
  outline: none;
}
header .offcanvas-start .offcanvas-header .fa-bars {
  font-size: 14px;
  font-weight: 600;
}
header .offcanvas-start .offcanvas-header button {
  padding: 14px 18px !important;
}
header .offcanvas-start .nav-item {
  padding-top: 0.3215rem;
  padding-bottom: 0.3215rem;
}
header .offcanvas-start .nav-item .dropdown-menu {
  position: absolute !important;
  top: 12px !important;
  left: 0;
  border: none;
  border-radius: none;
  padding: 45px !important;
}
header .offcanvas-start .nav-item .dropdown-menu li {
  margin: 10px 0;
  font-size: 14px;
}
header .offcanvas-start .nav-item .dropdown-menu li a {
  font-size: 14px;
  transition: 0.3s ease;
}
header .offcanvas-start .nav-item .dropdown-menu li a:hover {
  color: rgb(222, 16, 16) !important;
}
header .offcanvas-start .nav-item .dropdown-menu li .heading {
  font-weight: 600;
  margin-top: 0;
}
header .offcanvas-start .nav-item li {
  list-style: none;
}
header .offcanvas-start .nav-item li a {
  text-decoration: none;
  color: black;
}
header .offcanvas-start .nav-item li a span:hover {
  transition: 0.3s ease;
}
header .offcanvas-start .nav-item li a span:hover:hover {
  color: rgb(222, 16, 16) !important;
}
header .offcanvas-start .nav-item:hover .dropdown-menu {
  display: block !important;
  margin-top: 0 !important;
  transform: translate(0, 40px) !important;
}
header .offcanvas-start .nav-item span {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
header .offcanvas-start .nav-item i {
  font-size: 14px;
}
header .offcanvas-start .nav-item .active span {
  color: rgb(222, 16, 16);
}
header .offcanvas-start .nav-item .categories {
  font-weight: 600;
}
header .offcanvas-start .product .dropdown-menu {
  width: 320px !important;
  padding: 40px 25px !important;
  left: -50%;
  top: 9px !important;
}
header .offcanvas-start .product .dropdown-menu li {
  margin: 15px 0;
}
header .offcanvas-start .product .dropdown-menu li a {
  font-size: 13px;
}
header .offcanvas-start .countries span {
  font-weight: normal;
}
header .categories {
  gap: 5px;
}
header .categories a {
  font-size: 13px;
  border: 1px solid rgba(165, 165, 165, 0.3) !important;
  padding: 4px 20px;
  cursor: pointer;
}
header #navTwo {
  padding: 2px 0;
}
header #navTwo ul {
  gap: 3px;
}
header #navTwo .discount {
  padding: 2px;
  top: 0;
  right: 100%;
  width: 40px;
  height: "fit-content";
  background-color: rgb(222, 16, 16);
  font-size: 10px;
  font-weight: bold;
  left: 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}
header #navTwo .viewed-product button[data-bs-toggle=tooltip] {
  width: 40px !important;
  opacity: 0;
}
header #navTwo .viewed-product button[data-bs-toggle=tooltip]:hover {
  background-color: black;
  color: white !important;
}
header #navTwo .viewed-product:hover button[data-bs-toggle=tooltip] {
  transition: 0.3s all calc(0.1s + 0.1s * var(--i));
  opacity: 1;
}
header .fa-cart-shopping,
header .fa-heart,
header .fa-user {
  font-size: 19px;
  transition: 0.3s ease;
}
header .fa-cart-shopping:hover,
header .fa-heart:hover,
header .fa-user:hover {
  color: rgb(222, 16, 16) !important;
}
header .offcanvas .search input {
  background-color: #ebeef0;
  border: none;
}
header .offcanvas-start .nav-item span {
  font-size: 13px;
  font-weight: 500;
}
header .offcanvas-start .nav-item span i {
  font-size: 10px;
}
@media screen and (max-width: 767px) {
  header #navTwo {
    padding: 0;
  }
  header .navbar-brand {
    width: 86px !important;
  }
}
@media screen and (min-width: 768px) {
  header .offcanvas .search input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  header #navOne {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header #navOne .navbar-brand {
    width: 100px !important;
  }
}
@media screen and (min-width: 992px) {
  header .offcanvas .search select,
  header .offcanvas .search input {
    font-size: 13px;
  }
  header .offcanvas .search select {
    font-weight: 500;
  }
  header .offcanvas .search .fa-chevron-down {
    top: 37%;
    right: 10%;
  }
  header .offcanvas .search input {
    flex-basis: 62%;
  }
  header .offcanvas .recent {
    color: black !important;
  }
  header #navTwo ul {
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  header .fa-cart,
  header .fa-user,
  header .fa-heart {
    font-size: 22px;
  }
  header #navOne {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  header #navOne .nav-contact i {
    font-size: 30px;
  }
  header #navOne .nav-contact span {
    font-size: 13px;
  }
  header #navOne .nav-contact span:last-child {
    font-weight: 600;
  }
  header #navOne .navbar-brand {
    width: 120px !important;
  }
  header #navOne .account {
    font-size: 12px;
    font-weight: 600;
  }
  header .info-block span {
    font-size: 13px;
  }
  header .info-block img {
    width: 18px;
  }
  header .offcanvas .search .v-bar {
    flex-basis: 25%;
  }
  header .offcanvas .search input {
    flex-basis: 40%;
  }
  header .offcanvas .shop {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  header .offcanvas .dropdown:hover .dropdown-menu {
    display: inline-block;
    top: 61px;
    left: -40px !important;
  }
}
@media screen and (min-width: 1400px) {
  header #navTwo ul {
    gap: 25px;
  }
  header .offcanvas-start .nav-item .nav-cate {
    padding: 45px 300px !important;
  }
}
@media screen and (min-width: 1500px) {
  header .container {
    padding: 0px 100px !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
}

.sideBar {
  z-index: 999;
}
.sideBar .offcanvas {
  width: 269px !important;
}
.sideBar .offcanvas .offcanvas-header {
  padding: 5px 20px;
}
.sideBar .offcanvas .offcanvas-header i,
.sideBar .offcanvas .offcanvas-header h5 {
  padding: 13px 5px;
}
.sideBar .offcanvas .offcanvas-header h5 {
  font-size: 14px;
}
.sideBar .offcanvas .offcanvas-body li {
  border-bottom: 1px solid rgba(165, 165, 165, 0.3);
}
.sideBar .offcanvas .offcanvas-body li:hover .text {
  border-bottom: 1px solid black;
}
.sideBar .offcanvas .offcanvas-body li:hover .dropend {
  visibility: visible;
  opacity: 1;
}
.sideBar .offcanvas .offcanvas-body li span {
  font-weight: 500;
}
.sideBar .offcanvas .offcanvas-body li span:first-child {
  width: 20px;
}
.sideBar .offcanvas .offcanvas-body li i {
  font-size: 10px;
}
.sideBar .offcanvas .offcanvas-body .dropend {
  width: 460px;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 330px;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.sideBar .offcanvas .offcanvas-body .dropend li {
  border: 0;
}
.sideBar .offcanvas .offcanvas-body .dropend li a {
  font-size: 13px;
  transition: 0.3s ease;
}
.sideBar .offcanvas .offcanvas-body .dropend li a:hover {
  color: rgb(222, 16, 16) !important;
}
.sideBar .offcanvas .offcanvas-body .dropend li .heading {
  font-weight: 600;
}
.sideBar .offcanvas .offcanvas-body .dropend > div {
  height: -moz-fit-content;
  height: fit-content;
}
.sideBar .offcanvas .offcanvas-body .dropend > div > div {
  width: 46%;
}
.sideBar .offcanvas .offcanvas-body .dropend > div img {
  transition: 0.5s ease;
}
.sideBar .offcanvas .offcanvas-body .dropend > div p,
.sideBar .offcanvas .offcanvas-body .dropend > div a {
  font-size: 13px;
}
.sideBar .offcanvas .offcanvas-body .dropend > div h5 {
  font-size: 24px;
}
.sideBar .offcanvas .offcanvas-body .dropend > div h5,
.sideBar .offcanvas .offcanvas-body .dropend > div a {
  font-size: 600;
}
.sideBar .offcanvas .offcanvas-body .dropend > div:hover img {
  scale: 1.1;
}
.sideBar .offcanvas .offcanvas-body .dropend > div a {
  font-weight: 600;
}
.sideBar .offcanvas .offcanvas-body .dropend > div a:hover {
  background-color: white !important;
  color: black !important;
}
@media screen and (max-width: 1119px) {
  .sideBar .offcanvas .offcanvas-body .dropend {
    left: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .sideBar .offcanvas {
    width: 319px !important;
  }
  .sideBar .offcanvas .offcanvas-body li .text {
    font-size: 13px;
  }
}

.carousel [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid white !important;
}
.carousel [data-bs-target]:not(.active) {
  background-color: transparent !important;
}
.carousel .carousel-item h5 {
  transition: 0.5s ease;
}

.product-slider {
  scroll-behavior: smooth;
}
.product-slider div:hover .red-transition {
  color: red;
}
.product-slider div div:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.product-slider div div:last-child {
  top: 40%;
  left: 45%;
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.5s;
  z-index: 99;
}
.product-slider div:hover div:first-child::before {
  opacity: 1;
}
.product-slider div:hover div:last-child {
  opacity: 1;
  transform: translateX(5px);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-slider div {
    flex-basis: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .product-slider div {
    flex-basis: 12.5%;
  }
}

@media screen and (max-width: 597px) {
  .ad-banner > div {
    gap: 10px;
  }
}
.ad-banner .ad-card {
  cursor: pointer;
}
.ad-banner .ad-card > div {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
.ad-banner .ad-card > div p {
  font-size: 12px;
  color: #cf600f;
  font-weight: 600;
}
.ad-banner .ad-card > div a {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}
.ad-banner .ad-card > div a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
  width: 120%;
}
.ad-banner .ad-card > div .fa-arrow-right {
  font-size: 13px !important;
}
.ad-banner .ad-card img {
  transform: scale(1);
  transition: 0.3s ease;
}
.ad-banner .ad-card h2 {
  font-size: 6.5vw;
}
.ad-banner .ad-card h2:first-child {
  font-weight: 700;
  font-style: italic;
}
.ad-banner .ad-card h2:nth-child(2) {
  font-weight: 600;
}
.ad-banner .ad-card #last-h2 {
  font-family: "Fahkwang" !important;
  font-weight: 600;
  font-style: normal;
  top: 25px;
}
.ad-banner .ad-card span {
  font-family: "Damion";
  color: rgba(255, 255, 255, 0.3019607843);
  letter-spacing: 1px;
  font-size: 16vw;
}
.ad-banner .ad-card:hover img {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .ad-banner .ad-card h2 {
    font-size: 20px;
  }
  .ad-banner .ad-card span {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .ad-banner .ad-card h2 {
    font-size: 2vw;
  }
  .ad-banner .ad-card #last-h2 {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 1200px) {
  .ad-banner .ad-card h2 {
    font-size: 28px;
  }
  .ad-banner .ad-card #last-h2 {
    font-size: 22px;
  }
}

footer {
  background-color: rgb(27, 31, 34);
}
footer h3 {
  font-size: 15px;
  font-weight: 600 !important;
}
@media screen and (min-width: 992px) {
  footer h4 {
    font-size: 20px;
  }
}
footer h6 {
  font-size: 14px;
  font-weight: 600;
}
footer li a,
footer p,
footer span {
  font-size: 13px;
}
footer p {
  color: rgb(153, 153, 153);
}
footer a,
footer i {
  transition: 0.3s ease;
}
footer a:hover,
footer i:hover {
  color: rgb(222, 16, 16) !important;
}
footer a[href="tel:9239427879"] {
  font-size: 20px;
  font-weight: 600;
}
footer .light-grey-border {
  border: 1px solid rgba(129, 131, 136, 0.3);
}
footer input {
  border-radius: 5px;
  border: 1px solid rgba(129, 131, 136, 0.3);
  outline: none;
}
footer input::-moz-placeholder {
  font-size: 13px;
}
footer input::placeholder {
  font-size: 13px;
}
footer input + button {
  top: 15%;
  right: 2%;
}
@media screen and (min-width: 992px) {
  footer input + button {
    top: 5%;
    right: 1%;
  }
}
footer .p-30 {
  padding: 30px;
}
@media screen and (min-width: 992px) {
  footer .p-30 > div {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  footer .p-30 > div {
    width: 350px;
  }
}
footer .p-30 a {
  margin-left: 45px;
}
footer .p-30 a:hover {
  color: white !important;
}
footer .p-30 i {
  font-size: 30px;
}
footer .p-30 i:hover {
  color: white !important;
}
@media screen and (min-width: 992px) {
  footer .p-30 {
    gap: 35px;
  }
}
@media screen and (min-width: 1200px) {
  footer .p-30 {
    gap: 0px;
  }
}
footer .hoverBar {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}
footer .hoverBar::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid white;
}
footer .contact {
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  footer .payments {
    width: 312px;
  }
}/*# sourceMappingURL=metroStyle.css.map */