@import url("https://fonts.googleapis.com/css2?family=Damion&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  margin: 0 auto !important;
}
@media screen and (max-width: 576px), (min-width: 576px) {
  .container {
    max-width: 100% !important;
    padding: 0 10px !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px !important;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 0 50px !important;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    padding: 10px !important;
    max-width: 1300px !important;
  }
}

body {
  font-family: "Poppins" !important;
  font-style: normal;
}

a {
  font-size: 14px;
}

.light-grey {
  color: rgb(129, 131, 136);
}

.red-transition {
  color: black;
  font-weight: 500;
  transition: 150ms ease;
}

input {
  outline: 0;
}

header .info-block img {
  width: 14px;
}
header .info-block span {
  font-size: 12px;
}
header .info-block i {
  font-size: 8px;
}
header .info-block .contact {
  font-weight: 600;
}
header .header {
  padding: 12px 16px;
}
header .search {
  border-radius: 5px;
}
header .search input,
header .search select {
  background-color: #ebeef0;
  font-size: 12px;
  padding: 14px 20px;
}
header .search select {
  font-weight: 600;
  cursor: pointer;
  flex-basis: 33%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-right: 1px solid #a5a5a5 !important;
}
header .search .fa-chevron-down {
  top: 40%;
  right: 20%;
  font-size: 10px;
  font-weight: 600;
}
header .search input {
  font-weight: 500;
  background-color: #ebeef0;
}
header .search input::-moz-placeholder {
  font-size: 12px;
  color: #a5a5a5;
}
header .search input::placeholder {
  font-size: 12px;
  color: #a5a5a5;
}
header .search button {
  width: 40px;
  height: 85%;
  top: 7.5%;
  right: 5%;
}
header .logo {
  width: 75%;
}
header hr {
  width: 100%;
}
header .fa-bars,
header .fa-magnifying-glass,
header .fa-cart-shopping,
header .fa-heart,
header .fa-user {
  font-size: 20px;
  outline: none;
}
header .cart-no {
  padding: 2px;
  top: -8px;
  right: -10px;
  width: 18px;
  height: 18px;
  background-color: rgb(222, 16, 16);
  font-size: 10px;
  font-weight: bold;
}
header .offcanvas-start {
  width: 85% !important;
}
header .offcanvas-start .offcanvas-header {
  background-color: #ebeff0;
}
header .offcanvas-start .offcanvas-header h5,
header .offcanvas-start .offcanvas-header .fa-bars {
  font-size: 14px;
  font-weight: 600;
}
header .offcanvas-start .offcanvas-header button,
header .offcanvas-start .offcanvas-header h5 {
  padding: 14px 18px !important;
}
header .offcanvas-start .offcanvas-header .btn-close {
  border-left: 2px solid white;
}
header .offcanvas-start .nav-item span {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
header .offcanvas-start .nav-item span i {
  font-size: 14px;
}
header .offcanvas-start .nav-item .active span {
  color: rgb(222, 16, 16);
}
header .offcanvas-start .countries span {
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  header .logo {
    width: 100%;
  }
  header .fa-cart-shopping,
  header .fa-heart,
  header .fa-user {
    font-size: 19px;
  }
}

.product-slider {
  scroll-behavior: smooth;
}
.product-slider div:hover .red-transition {
  color: red;
}
.product-slider div div:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.product-slider div div:last-child {
  top: 40%;
  left: 45%;
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.5s;
  z-index: 99;
}
.product-slider div:hover div:first-child::before {
  opacity: 1;
}
.product-slider div:hover div:last-child {
  opacity: 1;
  transform: translateX(5px);
}
@media screen and (768px <= width <= 991px) {
  .product-slider div {
    flex-basis: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .product-slider div {
    flex-basis: 12.5%;
  }
}

@media screen and (max-width: 597px) {
  .ad-banner > div {
    gap: 10px;
  }
}
.ad-banner .ad-card {
  cursor: pointer;
}
.ad-banner .ad-card > div {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
.ad-banner .ad-card > div p {
  font-size: 12px;
  color: #cf600f;
  font-weight: 600;
}
.ad-banner .ad-card > div a {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}
.ad-banner .ad-card > div a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
  width: 120%;
}
.ad-banner .ad-card > div .fa-arrow-right {
  font-size: 13px !important;
}
.ad-banner .ad-card img {
  transform: scale(1);
  transition: 0.3s ease;
}
.ad-banner .ad-card h2 {
  font-size: 6.5vw;
}
.ad-banner .ad-card h2:first-child {
  font-weight: 700;
  font-style: italic;
}
.ad-banner .ad-card h2:nth-child(2) {
  font-weight: 600;
}
.ad-banner .ad-card #last-h2 {
  font-family: "Fahkwang" !important;
  font-weight: 600;
  font-style: normal;
}
.ad-banner .ad-card span {
  font-family: "Damion";
  color: rgba(255, 255, 255, 0.3019607843);
  letter-spacing: 1px;
  font-size: 16vw;
}
.ad-banner .ad-card:hover img {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .ad-banner .ad-card h2 {
    font-size: 20px;
  }
  .ad-banner .ad-card span {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .ad-banner .ad-card h2 {
    font-size: 2vw;
  }
  .ad-banner .ad-card #last-h2 {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 1200px) {
  .ad-banner .ad-card h2 {
    font-size: 28px;
  }
  .ad-banner .ad-card #last-h2 {
    font-size: 22px;
  }
}

footer {
  background-color: rgb(27, 31, 34);
}
footer h3 {
  font-size: 15px;
  font-weight: 600 !important;
}
@media screen and (min-width: 992px) {
  footer h4 {
    font-size: 20px;
  }
}
footer h6 {
  font-size: 14px;
  font-weight: 600;
}
footer li a,
footer p,
footer span {
  font-size: 13px;
}
footer p {
  color: rgb(153, 153, 153);
}
footer a[href="tel:9239427879"] {
  font-size: 20px;
  font-weight: 600;
}
footer .light-grey-border {
  border: 1px solid rgba(129, 131, 136, 0.3);
}
footer input {
  border-radius: 5px;
  border: 1px solid rgba(129, 131, 136, 0.3);
  outline: none;
}
footer input::-moz-placeholder {
  font-size: 13px;
}
footer input::placeholder {
  font-size: 13px;
}
footer input + button {
  top: 15%;
  right: 2%;
}
@media screen and (min-width: 992px) {
  footer input + button {
    top: 5%;
    right: 1%;
  }
}
footer .padding-30 {
  padding: 30px;
}
@media screen and (min-width: 992px) {
  footer .padding-30 > div {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  footer .padding-30 > div {
    width: 350px;
  }
}
footer .padding-30 a {
  margin-left: 45px;
}
footer .padding-30 i {
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  footer .padding-30 {
    gap: 35px;
  }
}
@media screen and (min-width: 1200px) {
  footer .padding-30 {
    gap: 20px;
  }
}
footer .hoverBar {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}
footer .hoverBar::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid white;
}
footer .contact {
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  footer .payments {
    width: 312px;
  }
}/*# sourceMappingURL=metroStyle.css.map */