@import url("https://fonts.googleapis.com/css2?family=Damion&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$red: rgba(222, 16, 16, 1);
$footer-black: rgba(27, 31, 34, 1);
$light-gray: rgba(235, 238, 240, 1);
$ts-product-regular-price-color: rgba(129, 131, 136, 1);

.container {
  margin: 0 auto !important;
  @media screen and (max-width: 576px), (min-width: 576px) {
    max-width: 100% !important;
    padding: 0 10px !important;
  }
  @media screen and (min-width: 768px) {
    padding: 0 20px !important;
  }
  @media screen and (min-width: 992px) {
    padding: 0 50px !important;
  }
  @media screen and (min-width: 1500px) {
    padding: 10px !important;
    max-width: 1300px !important;
  }
}

body {
  font-family: "Poppins" !important;
  font-style: normal;
}

a {
  font-size: 14px;
}

.light-grey {
  color: $ts-product-regular-price-color;
}

.red-transition {
  color: black;
  font-weight: 500;
  transition: 150ms ease;
}

@mixin hoverBar {
  position: relative;
  width: fit-content;
  font-size: 13px;
  &::after {
    content: "";
    width: 100%;
    display: block;
    @content;
  }
}

@mixin hoverRedTransition() {
  color: red;
}

input {
  outline: 0;
}

// -------------------------- NavBar And Header Section -----------------
header {
  .info-block {
    img {
      width: 14px;
    }
    span {
      font-size: 12px;
    }
    i {
      font-size: 8px;
    }
    .contact {
      font-weight: 600;
    }
  }
  // .nav {
    .fa-bars,
    .fa-magnifying-glass,
    .fa-cart-shopping {
      font-size: 20px;
      outline: none;
    }
    .logo {
      width: 75%;
    }
    .cart-no {
      padding: 2px;
      top: -9px;
      right: 0;
      width: 18px;
      height: 18px;
      background-color: $red;
      font-size: 10px;
      font-weight: bold;
    }
  // }
}

// ------------- Product Slider Section ----------------------
.product-slider {
  scroll-behavior: smooth;
  div {
    &:hover .red-transition {
      @include hoverRedTransition();
    }
    div {
      &:first-child {
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.5s;
        }
        // &:hover::before {
        //   opacity: 1;
        // }
      }
      &:last-child {
        top: 40%;
        left: 45%;
        opacity: 0;
        transform: translateX(-20px);
        transition: 0.5s;
        z-index: 99;
      }
    }
    &:hover div:first-child::before {
      opacity: 1;
    }
    &:hover div:last-child {
      opacity: 1;
      transform: translateX(5px);
    }
    @media screen and (768px <= width <= 991px) {
      flex-basis: 20%;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 8);
    }
  }
}

//  --------------------------- Ad Banner Section -------------------

.ad-banner {
  > div {
    @media screen and (max-width: 597px) {
      gap: 10px;
    }
  }
  .ad-card {
    cursor: pointer;
    > div {
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 99;
      p {
        font-size: 12px;
        color: #cf600f;
        font-weight: 600;
      }
      a {
        font-size: 12px;
        font-weight: 600;
        @include hoverBar {
          border-bottom: 1px solid black;
          width: 120%;
        }
      }
      .fa-arrow-right {
        font-size: 13px !important;
      }
    }
    img {
      transform: scale(1);
      transition: 0.3s ease;
    }
    h2 {
      font-size: 6.5vw;
      &:first-child {
        font-weight: 700;
        font-style: italic;
      }
      &:nth-child(2) {
        font-weight: 600;
      }
    }
    #last-h2 {
      font-family: "Fahkwang" !important;
      font-weight: 600;
      font-style: normal;
    }

    span {
      font-family: "Damion";
      color: #ffffff4d;
      letter-spacing: 1px;
      font-size: 16vw;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    @media screen and (min-width: 768px) {
      h2 {
        font-size: 20px;
      }
      span {
        font-size: 40px;
      }
    }

    @media screen and (min-width: 992px) {
      h2 {
        font-size: 2vw;
      }
      #last-h2 {
        font-size: 1.8vw;
      }
    }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 28px;
      }
      #last-h2 {
        font-size: 22px;
      }
    }
  }
}

// --------------------------------- Footer Section ------------------------

footer {
  background-color: $footer-black;

  h3 {
    font-size: 15px;
    font-weight: 600 !important;
  }
  h4 {
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
  }
  h6 {
    font-size: 14px;
    font-weight: 600;
  }
  li a,
  p,
  span {
    font-size: 13px;
  }
  p {
    color: rgba(153, 153, 153, 1);
  }
  a[href="tel:9239427879"] {
    font-size: 20px;
    font-weight: 600;
  }

  .light-grey-border {
    border: 1px solid rgba(129, 131, 136, 0.3);
  }

  input {
    border-radius: 5px;
    border: 1px solid rgba(129, 131, 136, 0.3);
    outline: none;
    &::placeholder {
      font-size: 13px;
    }
    + button {
      top: 15%;
      right: 2%;
      @media screen and (min-width: 992px) {
        top: 5%;
        right: 1%;
      }
    }
  }
  .padding-30 {
    padding: 30px;
    > div {
      @media screen and (min-width: 992px) {
        width: 250px;
      }
      @media screen and (min-width: 1200px) {
        width: 350px;
      }
    }
    a {
      margin-left: 45px;
    }
    i {
      font-size: 30px;
    }

    @media screen and (min-width: 992px) {
      gap: 35px;
    }
    @media screen and (min-width: 1200px) {
      gap: 20px;
    }
  }

  .hoverBar {
    @include hoverBar {
      border-bottom: 1px solid white;
    }
  }
  .contact {
    font-size: 18px;
    font-weight: 600;
  }

  .payments {
    @media screen and (min-width: 1200px) {
      width: 312px;
    }
  }
}
